.PeleCtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px; 
 
  margin: 10px auto; 
width: 190px;     
  height: 260px;   
  
}

.TipoCtn{
  font-size: 1.5rem;      
  font-weight: bold;      
  color: #6a0dad;         
  text-transform: capitalize; 
  margin-bottom: 4px;
}