.skinCareCtn {
    border-radius: 15px;
    box-shadow: 5px 5px 16px gainsboro;
    background-color: #e7ddff;
    max-width: 350px;
    width: 15vw;
    min-height: 400px;

    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: flex-start; 
    padding: 15px;
    gap: 10px; 
}


.imageSC{
    width: 50px;
    height: 50px;
    
}