.box {
    border-radius: 15px;

    background-color: #cfa5ff; 
    max-width: auto;
    width: 70vw;

    min-height: 400px;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;
    gap: 14px;

    box-shadow: 5px 5px 16px rgba(0,0,0,.1);
}

.box h3 {
    text-align: center;

    font-weight: 600;
    color: white;
     font-size: 1.5rem;      
  font-weight: bold;      
      
  text-transform: capitalize; 
  margin-bottom: 4px;
}




.item {
    display: flex;
    align-items: center;

    width: 50%;             
    padding: 12px;

    background: white;       
    border-radius: 12px;

    cursor: pointer;

    transition: .2s;

    box-shadow: 0 2px 5px rgba(0,0,0,.08);
}


.item:hover {
    background: #efe2ff;    
}


.item span {
   font-size: 1.5rem;      
  font-weight: bold;      
  color: #6a0dad;         
  text-transform: capitalize; 
  margin-bottom: 4px;
}




.check {
    width: 20px;
    height: 20px;

    display:flex;
    justify-content:center;
    align-items:center;

    margin-right:10px;

    font-weight: bold;

    color: #7e52ff;

    opacity: 0;

    transition: .2s;
}




.item.ativo {
    background: #d9c6ff;     

}


.item.ativo .check {
    opacity: 1;
}



.resultado {
    font-size: 2rem;          /* tamanho grande */
    font-weight: bold;

    color: white;

    text-align: center;     /* centraliza o texto */

    margin-top: 30px;       
    margin-bottom:50px;

    padding: 50px;

    line-height: 1.3;

}