.box {
    border-radius: 15px;

    background-color: #b892ff;   

    max-width: 800px;
    width: 40vw;

    min-height: 400px;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;
    gap: 14px;

    box-shadow: 5px 5px 16px rgba(0,0,0,.1);
}

.box h3 {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: white;
}




.item {
    display: flex;
    align-items: center;

    width: 50%;             
    padding: 12px;

    background: white;       
    border-radius: 12px;

    cursor: pointer;

    transition: .2s;

    box-shadow: 0 2px 5px rgba(0,0,0,.08);
}


.item:hover {
    background: #efe2ff;    
}


.item span {
    font-size: 15px;
    color: #333;
}




.check {
    width: 20px;
    height: 20px;

    display:flex;
    justify-content:center;
    align-items:center;

    margin-right:10px;

    font-weight: bold;

    color: #7e52ff;

    opacity: 0;

    transition: .2s;
}




.item.ativo {
    background: #d9c6ff;     

}


.item.ativo .check {
    opacity: 1;
}



.resultado {
    font-size: 22px;
    font-weight: bold;

    color: white;

    margin-top: 30px;
}